/* reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    padding: 10px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
  }

/* default styles */

.italic {
    font-style:italic;
}

.underline {
  border-bottom:1px solid black;
}

section {
    margin-bottom: 40px;
}

#all {
    max-width: 1400px;
    margin:auto;
}

/* fonts */

p, a {
    font-family: "Nunito Sans", serif;
    font-size:18px;
    line-height: 22px;
}

h1 {
  font-family: "Nunito Sans", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-size: 72px;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}
h2, h4 {
    font-family: "Nunito Sans", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
  }

  .nav__link a {
    font-family: "Nunito Sans", serif;
    font-size: 16px;
  }

  h2 {
    font-size: 32px;
    margin-bottom: 26px;
  }
  h4 {
    font-size: 18px;
  }
  .footer {
    font-size: 10px;
  }

  /* ----------------------MOBILE------------------------- */
  @media only screen
and (min-width : 320px) {
/* Styles */

  /* header */

  .header {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction:row;
  }
  .header__image {
    display: flex;
    justify-content: center;
    width: 100%
  }
  .header__image img {
    max-width: 200px;
  }
  .header__title {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  /* nav */

  .nav {
    border: 1px solid black;
    margin: 20px 0 40px 0;
  }
   .nav__link-grouping {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
   }
   .nav__link {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    width: 50%;
  }

  /* main */

  .mission__intro-text {
    text-align: center;
    margin: 0 40px 40px 40px;
  }

  .idea__text {
    margin-bottom: 20px;
  }
  .mission__mission-statement {
    padding: 5px;
    border: 1px solid black;
    background-color: lightgray;
  }
  .mission__mission-statement h4 {
    font-style: italic;
    font-weight: 700;
    text-align: center;
    
  }
  .survey__survey {
    overflow: auto;
    max-height: 700px;
    border: 1px solid black;
    padding: 30px;
    margin-bottom: 40px;
  }
  .survey__survey-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .aboutus img {
    max-width: 100%;
    padding:0 0 24px 0
  }

/* footer */
.footer {
    padding: 40px 0 40px 0;
    border-top: 1px solid black;
}
.footer__left {
    margin-bottom: 10px;
}
.footer__socials img {
    margin: 10px;
    width: 18px;
}
}

  /* ----------------------DESKTOP------------------------- */
 @media only screen
and (min-width : 481px) {

    .header {
        display: flex;
        flex-wrap:nowrap;
    }
    .header__title {
        display:flex;
        flex-wrap:wrap;
        align-items: center;
        flex-direction: row;
      }
    .header__image {
        display: flex;
        justify-content: flex-start;
        max-width:200px;
      }
      .header__image img {
        max-width: 200px;
      }

      /* nav */
      .nav {
        display:flex;
      }

      /* main */

      .aboutus__content {
        display: flex;
        justify-content: center;
        align-items: center;
      }
        .aboutus__image {
            max-width: 50%;
        }

        .aboutus__text {
            padding-left: 20px;
        }

        .footer {
            display: flex;
            align-items:flex-end;
            justify-content: space-between;
        }
        .footer__left {
            margin-bottom: 0;
        }
      }
 