/* reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
  scroll-behavior: smooth;
}
body {
	line-height: 1;
    /* padding: 10px; */
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
  }

/* default styles */
.anchor:before {
    padding-top:90px;
    display:block;
    content:"";
}

.italic {
    font-style:italic;
}

.underline {
  border-bottom:1px solid #2F3B2B;
}

.center {
  text-align: center;
}

section {
    margin-bottom: 40px;
}

#all {
    max-width: 1400px;
    margin:auto;
    padding:10px;
}
.margin-below-40 {
  padding-bottom: 40px;
}
.bold {
  font-weight:700;
}
ul {
  margin-bottom: 22px;
}
.word-break {
  word-wrap: break-word;
}

/* colors */
body, section, nav {
  background-color: #FDDAAF;
}
p {
  color:#2F3B2B;
}
a {
  color:#074F57;
}
a:hover {
  color:#FF6201;
}
.nav__link {
  /* background-color:#410B13 */
  color: #2F3B2B;
  background-color: #D0D14E;
}
h1,h2,h3,h4,h5,h6 {
  color: #2F3B2B;
}

/* fonts */

p, a {
    font-family: "Nunito Sans", serif;
    font-size:18px;
    line-height: 22px;
}
a {
  text-decoration: none;
}

h1 {
  font-family: "Nunito Sans", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-size: 72px;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}
h2, h3, h4 {
    font-family: "Nunito Sans", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
  }

  h2 {
    border-bottom:1px solid #2F3B2B;
    box-shadow: 0 0.5rem #FFC099;

  }

  .nav__link a {
    font-family: "Nunito Sans", serif;
    font-size: 16px;
  }

  h2 {
    font-size: 40px;
    margin-bottom: 26px;
    font-weight:800;
  }
  h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
  }
  h4 {
    font-size: 18px;
    font-weight: 600;
  }
  .footer {
    font-size: 10px;
  }
  ul, li {
    color: #2F3B2B;
    font-size: 18px;
    line-height: 20px;
    font-family: "Nunito Sans", serif;
  }
  ul {
    list-style-position: outside;
  }
  li {
    list-style: disc;
    margin-left: 20px;
  }

  /* ----------------------MOBILE------------------------- */
  @media only screen
and (min-width : 320px) {
/* Styles */



  /* header */
  .banner {
    width: 100%;
    height:50px;
    background-color:#FF6201;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #410B13;
  }
  .banner__text {
    width: 100%;
    /* height: 40px; */
    color: #2F3B2B;
    font-weight:700;
    text-align: center;
    font-size: 24px;
    align-items: center;
  }

  .header {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction:row;
   
  }
  .header__image {
    display: flex;
    justify-content: center;
    width: 100%
  }
  .header__image img {
    max-width: 200px;
  }
  .header__title {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom:10px;
    
  }
/* .header__title-image {
  width: 100%;
} */
.header__title-image img {
  max-width: 100%;
}

  .header__title-image-1 img {
    width: 280px;
    max-width: 100%;
  }

  .header__title-image-2 img,
  .header__title-image-3 img {
    max-height: 80px;
  }

  /* nav */

  .nav {
    border: 1px solid #2F3B2B;
    /* margin: 20px 0 40px 0; */
    position: sticky;
    top: 40px;
    margin-bottom:20px;
    flex-wrap:wrap;
  }
   .nav__link-grouping {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* flex-wrap:wrap; */
  
   }
   .nav__link {
    border: 1px solid #2F3B2B;
    text-align: center;
    padding: 7px;
    width: 50%; 
    font-size:24px;
    font-weight:600;
    background-color: #D0D14E;
    }
  .nav__link:hover {
    background-color:#FF6201;
    color:#2F3B2B;
  }

  /* home */

  .mission__intro-text {
    text-align: center;
    margin: 0 40px 40px 40px;
  }
  .mission__intro-now-accepting-container {
    width: 100%;
    display:flex;
    justify-content: center;
  }
  .mission__intro-now-accepting {
    /* background: linear-gradient(0deg, rgba(255,192,153,1) 0%, rgba(208,209,78,1) 100%); */
    width:fit-content;
    padding:20px;
    text-align:center;
    font-weight:700;
    font-style: italic;
    text-transform: uppercase;
    
  }
  .mission__intro-now-accepting a {
    font-size: 22px;
  }
  .mission__hours {
    background-color:#D0D14E;
    border: 1px solid #2F3B2B;
    padding: 20px;
        width: fit-content;
        margin: auto;
  }
.mission__hours p {
  font-size: 26px;
  line-height:28px;
}
div.mission__hours p.center.bold {
  padding-bottom: 12px;
  
}
.donation__update {
  padding-bottom: 12px;
}

  .idea h4 {
    font-weight: 700;
  }

  .idea__text {
    margin-bottom: 20px;
  }
  .idea__final-words {
    margin: 60px 0 60px 0;
  }
  .mission__mission-statement {
    padding: 5px;
    border: 1px solid #2F3B2B;
    background-color: #FFC099;
    padding:20px;
  }
  .mission__mission-statement h4 {
    font-style: italic;
    font-weight: 700;
    text-align: center;
    color: #2F3B2B;
    margin-bottom:16px;
    
  }
  .mission__text {
    color: #2F3B2B;;
  }
  .survey__survey {
    padding: 30px;
    margin-bottom: 40px;
    width: 320px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D0D14E;
    border-radius:60px;
    border: 1px solid #2F3B2B;
    box-shadow: 0.5rem 0.5rem #2F3B2B;

  }
  .survey__survey:hover {
    background-color:#FF6201;
    box-shadow: none;
    position: relative;
    top: 0.5rem;
    left: 0.5rem;
    
  }
 
  .survey__survey-text {
    font-size: 40px;
    line-height: 46px;
    color: #2F3B2B;
    text-wrap: wrap;
    text-align: center;
    font-style: italic;
    font-weight: 800;
  }
  .survey__survey-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .donate__note {
    padding: 10px;
    border: 1px solid #2F3B2B;
    background-color: #FFC099;
    margin-bottom: 20px;
  }

  .donate li {
    padding-bottom: 6px;
  }
  .donate__pickup-button {
    justify-content: flex-start;
  }
  .donate__pickup-button-link {
    padding: 30px;
margin-bottom: 40px;
display: flex;
justify-content: center;
align-items: center;
background-color: #D0D14E;
border-radius:60px;
border: 1px solid #2F3B2B;
box-shadow: 0.5rem 0.5rem #2F3B2B;
  }
  .donate__pickup-button-text {
    font-size: 32px;
    line-height: 46px;
    color: #2F3B2B;
    text-wrap: wrap;
    text-align: center;
    font-style: italic;
    font-weight: 800;
  }
  .donate__pickup-button-link:hover {
    background-color:#FF6201;
    box-shadow: none;
    position: relative;
    top: 0.5rem;
    left: 0.5rem;
    
  }

.donate__do-dont {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.donate__do,
.donate__dont {
  /* border: 1px solid #2F3B2B; */
  padding: 20px;
  width: 50%;
/* width: 50%; */
  /* min-width: 440px; */
  margin: 20px;
  /* background: rgb(255,192,153);
background: linear-gradient(0deg, rgba(255,192,153,1) 0%, rgba(255,98,1,1) 100%); */
}
.donate__do {
  border: 30px solid #D0D14E;
  /* background-color:#D0D14E; */
  /* background: rgb(255,192,153);
  background: linear-gradient(0deg, rgba(255,192,153,1) 0%, rgba(208,209,78,1) 100%); */
}
.donate__dont {
  border: 30px solid #FF6201;
}

.donate__text {
  margin-bottom: 20px;
}
.donate__early-drop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* flex-wrap: wrap; */
  /* height: 500px; */
}
.donate__early-drop-left {
  margin: 20px;
}
.donate__early-drop-left img {
  width: 100%;
  /* max-width: 768px; */
  /* margin: 20px; */
}
/* faq */

.faq .faq__alt {
  background-color:#FFC099;
}
/* .faq__alt p,
.faq__alt h4 {
  color:#FDDAAF;
} */

.faq__alt,
.faq__norm {
  padding:20px;
}
.faq__q {
  font-size: 26px;
  margin-bottom:12px;
  font-weight: 700;
}
.faq__a {
  margin-bottom:20px;
}


  .aboutus img {
    max-width: 100%;
    padding:0 0 24px 0
  }
  /* contact */
  .contact .contact__text {
    margin-bottom: 20px;
  }

/* footer */
.footer {
    padding: 40px 0 40px 0;
    border-top: 1px solid #2F3B2B;
}
.footer__left {
    margin-bottom: 10px;
}
.footer__socials img {
    margin: 10px;
    width: 18px;
}
.footer__acknowledgement {
  text-align: center;
  padding-bottom: 14px;
  font-size: 12px;

}
}

/* inbetweeny specific ------------------------*/

@media only screen
and (min-width : 481px) and (max-width: 786px) {
  .header__title {
    flex-direction: column;
}
.header__title-image-1 img {
  width:380px;
 }
 .header__title-image-2 img, .header__title-image-3 img {
  max-height: 120px;
}
 .aboutus__content {
          flex-direction:column;
        }
}
/* --------------------------------------- */
@media only screen
      and (min-width : 768px) {
        .donate__do-dont {
          flex-direction: row;
         }

         .nav {
          flex-wrap:nowrap;
        }
      }
      .donate__do,
.donate__dont {
  width: 100%;
}
/* --------------------------------------- */

@media only screen
and (min-width : 787px) and (max-width: 1100px) {
  .header__title-image-1 {
    display: flex;
    justify-content: center;
    /* width: 100%; */
   }
  /* .header__title-image-1 img {
    width:100%;
   } */
   .header__title-image-2 img, .header__title-image-3 img {
    max-height: 120px;
  }
/* .aboutus img {
            max-width: 400px;
        } */
       
}
/* -------------------- */
  @media only screen
  and (min-width : 1101px) {
    .header__title {
      flex-direction:row;
    }
    .header__title-image-1 {
      display: block;
      justify-content: center;
      width: fit-content;
     }
}

  /* ----------------------DESKTOP------------------------- */
 @media only screen
and (min-width : 481px) {

  /* iframe {
    width: 100%;
    height: 2849px !important;
  } */

    .header {
        display: flex;
        flex-wrap:nowrap;
        min-height: 150px;
        padding: 14px 0 0 14px;
    }
    .header__title {
        display:flex;
        /* flex-wrap:wrap; */
        align-items: center;
        flex-direction: row;
      }
     
 .header__title-image-1 img {
  width:380px;
 }
 .header__title-image-2 img, .header__title-image-3 img {
  max-height: 120px;
}

    /* .header__image {
        display: flex;
        justify-content: flex-start;
        max-width:200px;
      }
      .header__image img {
        max-width: 200px;
      } */

      /* nav */
      .nav {
        display:flex;
        
      }

      

      /* main */

      .survey__survey {
        width: 500px;
      }

      .donate__early-drop {
        flex-direction: row;
        justify-content: center;
        /* flex-wrap: wrap; */
        /* height: 500px; */
      }
      .donate__early-drop-right {
        margin-top:20px;
      }
     
     

      .aboutus__content {
        display: flex;
        justify-content: center;
        align-items: center;
      }
        /* .aboutus__image {
            max-width: 50%;
        } */

        .aboutus img {
            max-width: 400px;
        }


        .aboutus__text {
            padding-left: 20px;
        }

        .footer__bottom {
            display: flex;
            align-items:flex-end;
            justify-content: space-between;
        }
        .footer__left {
            margin-bottom: 0;
        }
      
      }
 