/* reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    /* padding: 10px; */
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
  }

/* default styles */

.italic {
    font-style:italic;
}

.underline {
  border-bottom:1px solid #2F3B2B;
}

section {
    margin-bottom: 40px;
}

#all {
    max-width: 1400px;
    margin:auto;
    padding:10px;
}
.margin-below-40 {
  padding-bottom: 40px;
}
/* colors */
body, section, nav {
  background-color: #FDDAAF;
}
p {
  color:#2F3B2B;
}
a {
  color:#074F57;
}
a:hover {
  color:#FF6201;
}
.nav__link {
  /* background-color:#410B13 */
  color: #2F3B2B;
  background-color: #D0D14E
}
h1,h2,h3,h4,h5,h6 {
  color: #2F3B2B;
}

/* fonts */

p, a {
    font-family: "Nunito Sans", serif;
    font-size:18px;
    line-height: 22px;
}
a {
  text-decoration: none;
}

h1 {
  font-family: "Nunito Sans", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-size: 72px;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}
h2, h4 {
    font-family: "Nunito Sans", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
  }

  h2 {
    border-bottom:1px solid #2F3B2B;
    box-shadow: 0 0.5rem #FFC099;

  }

  .nav__link a {
    font-family: "Nunito Sans", serif;
    font-size: 16px;
  }

  h2 {
    font-size: 32px;
    margin-bottom: 26px;
    font-weight:800;
  }
  h4 {
    font-size: 18px;
    font-weight: 600;
  }
  .footer {
    font-size: 10px;
  }

  /* ----------------------MOBILE------------------------- */
  @media only screen
and (min-width : 320px) {
/* Styles */



  /* header */
  .banner {
    width: 100%;
    height:40px;
  background-color:#D0D14E;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #410B13;
  }
  .banner__text {
    width: 100%;
    /* height: 40px; */
    color: #2F3B2B;
    font-weight:700;
    text-align: center;
    font-size: 24px;
    align-items: center;
  }

  .header {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction:row;
  }
  .header__image {
    display: flex;
    justify-content: center;
    width: 100%
  }
  .header__image img {
    max-width: 200px;
  }
  .header__title {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  /* nav */

  .nav {
    border: 1px solid #2F3B2B;
    margin: 20px 0 40px 0;
  }
   .nav__link-grouping {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
   }
   .nav__link {
    border: 1px solid #2F3B2B;
    text-align: center;
    padding: 10px;
    width: 50%; 
    font-size:26px;
    font-weight:600;
    background-color: #D0D14E;
    }
  .nav__link:hover {
    background-color:#FF6201;
    color:#2F3B2B;
  }

  /* main */

  .mission__intro-text {
    text-align: center;
    margin: 0 40px 40px 40px;
  }
  .idea h4 {
    font-weight: 700;
  }

  .idea__text {
    margin-bottom: 20px;
  }
  .idea__final-words {
    margin: 60px 0 60px 0;
  }
  .mission__mission-statement {
    padding: 5px;
    border: 1px solid #2F3B2B;
    background-color: #FFC099;
    padding:20px;
  }
  .mission__mission-statement h4 {
    font-style: italic;
    font-weight: 700;
    text-align: center;
    color: #2F3B2B;
    margin-bottom:16px;
    
  }
  .mission__text {
    color: #2F3B2B;;
  }
  .survey__survey {
    padding: 30px;
    margin-bottom: 40px;
    width: 320px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D0D14E;
    border-radius:60px;
    border: 1px solid #2F3B2B;
    box-shadow: 0.5rem 0.5rem #2F3B2B;

  }
  .survey__survey:hover {
    background-color:#FF6201;
    box-shadow: none;
    position: relative;
    top: 0.5rem;
    left: 0.5rem;
    
  }
 
  .survey__survey-text {
    font-size: 40px;
    line-height: 46px;
    color: #2F3B2B;
    text-wrap: wrap;
    text-align: center;
    font-style: italic;
    font-weight: 800;
  }
  .survey__survey-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .aboutus img {
    max-width: 100%;
    padding:0 0 24px 0
  }

/* footer */
.footer {
    padding: 40px 0 40px 0;
    border-top: 1px solid #2F3B2B;
}
.footer__left {
    margin-bottom: 10px;
}
.footer__socials img {
    margin: 10px;
    width: 18px;
}
}
/* inbetween ------------------------*/

/* @media only screen
and (min-width : 340px) and (max-width: 480px) {
  iframe {
    height: 3900px;
  }
} */

  /* ----------------------DESKTOP------------------------- */
 @media only screen
and (min-width : 481px) {

  /* iframe {
    width: 100%;
    height: 2849px !important;
  } */

    .header {
        display: flex;
        flex-wrap:nowrap;
        min-height: 150px;
    }
    .header__title {
        display:flex;
        flex-wrap:wrap;
        align-items: center;
        flex-direction: row;
      }
    .header__image {
        display: flex;
        justify-content: flex-start;
        max-width:200px;
      }
      .header__image img {
        max-width: 200px;
      }

      /* nav */
      .nav {
        display:flex;
      }

      /* main */

      .survey__survey {
        width: 500px;
      }

      .aboutus__content {
        display: flex;
        justify-content: center;
        align-items: center;
      }
        .aboutus__image {
            max-width: 50%;
        }

        .aboutus__text {
            padding-left: 20px;
        }

        .footer {
            display: flex;
            align-items:flex-end;
            justify-content: space-between;
        }
        .footer__left {
            margin-bottom: 0;
        }
      }
 